@page "/"
@using SkillBallBingo.Application.Models
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Skill Ball Bingo</PageTitle>

@if (_game is not null)
{
    <table class="table table-bordered w-50">
        @foreach (var row in _game.Ticket)
        {
            <tr>
                @foreach (var cell in row)
                {
                    if (cell is { IsMarked: true })
                    {
                        <td class="bg-success-subtle">
                            @cell.Number
                        </td>
                    }
                    else
                    {
                        <td>
                            @cell?.Number
                        </td>
                    }
                }
            </tr>
        }
    </table>

    <br/>
    @_game.CurrentNumber
    <br/>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" @onclick="_game.AcceptCurrentNumber">Accept</button>
        <button type="button" class="btn btn-danger" @onclick="_game.RejectCurrentNumber">Reject</button>
    </div>

    <CountdownTimer @ref="_timer" Seconds="60" OnCountdownFinished="HandleFinished"/>
    <p>@_message</p>
    
    @if (_game.HasBingo)
    {
        <h1>Bingo!</h1>
    }
}

@if (_game is null)
{
    <button class="btn btn-primary" @onclick="StartGame">New Game</button>
}

@code {
    private Game? _game;
    private CountdownTimer? _timer;
    private string _message = "";
    private bool _startTimer;

    private void StartGame()
    {
        _game = new Game();
        _startTimer = true;
        StateHasChanged();
    }

    private void HandleFinished()
    {
        _message = "Countdown complete!";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_startTimer && _timer != null)
        {
            _timer.Start();
            _startTimer = false;
        }

        if (firstRender)
        {
            await JS.InvokeVoidAsync("keyboardInterop.initialize",
                DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public Task OnKeyDown(string key)
    {
        if (_game is null)
        {
            return Task.CompletedTask;
        }
        
        switch (key)
        {
            case "a":
                _game.AcceptCurrentNumber();
                break;
            case "r":
                _game.RejectCurrentNumber();
                break;
        }
        
        StateHasChanged();
        return Task.CompletedTask;
    }
}