@code {
    [Parameter] public int Seconds { get; set; } = 10;
    [Parameter] public EventCallback OnCountdownFinished { get; set; }

    private int _remainingSeconds;
    private Timer? _timer;

    protected override void OnInitialized()
    {
        _remainingSeconds = Seconds;
    }

    public void Start()
    {
        Stop();

        _remainingSeconds = Seconds;

        _timer = new Timer(_ =>
        {
            if (_remainingSeconds > 0)
            {
                _remainingSeconds--;
                InvokeAsync(StateHasChanged);
            }
            else
            {
                Stop();
                InvokeAsync(() => OnCountdownFinished.InvokeAsync());
            }
        }, null, 0, 1000);
    }

    private void Stop()
    {
        _timer?.Dispose();
        _timer = null;
    }

    private string DisplayTime => TimeSpan.FromSeconds(_remainingSeconds).ToString(@"mm\:ss");
}

<div>
    <h3>@DisplayTime</h3>
</div>